@import 
url(https://fonts.googleapis.com/css?family=Megrim|Oswald|Roboto:100);


* {
  margin: 0;
}

html, body {
  background-color: #F2E9E4;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  font-size: 14px;
  height: 100%;
}

p {
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  text-align: center;
  color: #4A4E69;
}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 7em;
  color: #F2E9E4;
  text-align: center;
  margin-top: 50px;
  visibility: hidden;
}

.wi-stars {
  color: #4A4E69;
  font-size: 1.2em;
}


h2 {
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  text-align: center;
  color: #C9ADA7;
  font-size: 3em;
}

h3 {
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  text-align: center;
  color: #C9ADA7;
  font-size: em;
}

.container {
  background-color: #F2E9E4;
  width: 50%;
  margin: auto;
  padding-top: 20px;
  min-height: 100%;
  border-radius: 20px; 
}

.container:after {
  content: "";
  display: block;
}

.main-content {
  min-height: 100%;
  margin-bottom: 50px;
}


#weather-condition {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#condition {
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 50px;
}

#icon {
  color: #4A4E69;
  font-size: 10em;
  font-weight: 100;
  position: relative;
  margin-top: 40px;
  opacity: .7;
}


.weather-city {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#location {
  text-align: center;
}

#temperature {
  font-size: 8em;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Oswald',sans-serif; 
  color: #C9ADA7;
}

#temperature i {
  color: #F2E9E4;
  font-size: 1em;
}

.toggle-switch {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 100px;
}

#celsius, #fahrenheit {
  display: inline;
  font-family: 'Oswald',sans-serif;
  font-size: 2em;
  font-weight: 300;  color: #C9ADA7;
}


/* The switch - the box around the slider */
.switch {
  margin: auto;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 58px;
  height: 33px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4A4E69;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: #C9ADA7;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4A4E69;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#location-search {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
}

#autocomplete {
  width:300px;
  background-color: white;
  border: 1px solid #C9ADA7;
  height: 30px;
  padding-left: 5px;
  outline: none;
  color: #4A4E69;
  font-weight: 300;
}


.btn-search {
  background-color: #4A4E69;
  color: #C9ADA7;
  font-weight: 300;
  border: none;
  width: 75px;
  height: 30px;
  outline: none;
}


.site-footer, .container:after {
  height: 30px;
}

footer {
  padding-top: 0px;
}

a {
  color: #C9ADA7;
}

a:hover {
  color: #4A4E69;
  text-decoration: none;
}

@media (max-width: 795px) { 

  body, footer, html {
    margin-top: -10px;
    background-color: #F2E9E4;
  }

  h1 {
    font-size: 4.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  #autocomplete {
    width: 250px;
  }

  .btn-search {
    width: 50px;
    font-size: 1em;
  }
}


@media (max-width: 667px) { 

  body, footer, html {
    margin-top: -10px;
    background-color: #F2E9E4;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  #temperature {
    font-size: 3em;
    margin-top: 10px;
  }

  #location-search {
    visibility: hidden;
  }

  .container {
    width: 100%;
    border-radius: 0;
    margin-top: -40px;
  }
}


